*{
    margin:0;
    padding:0;
}

.footer{
    bottom:0;
    position:fixed;
}

body{
    background:#111B3B;
    overflow-x:hidden;
    margin-bottom:300px;
    color:white;
}

.body-content{
    margin-top:200px;
    padding-left:20px;
}

.form-wrapper{
    display:flex;
    width:25vw;
}

.left-left{
    width:12vw;
}

.right-left{
    width:11vw;
}

input[type=text]{
    background:none;
    border:none;
    border-bottom:white 2px solid;
    width:10vw;
    min-width:200px;
    padding:10px;
    color:white;
}

input[type=text]:focus{
    outline:none;
}

input[type=submit]{
    width:23.5vw;
    min-width:400px;
    min-height:30px;
    height:3.5vh;
    background:rgb(30, 33, 44);
    border:2px solid transparent;
    border-radius:50px;
    color:white;
    margin:0.5vw;
}

#coupon{
    width:23.5vw;
}

input[type=submit]:hover{
    border:2px solid blue;
    cursor:pointer;
}