@font-face {
    font-family:"Serpentine-Medium";
    src: url("../fonts/Serpentine-Medium.otf");
}

@font-face {
    font-family:"Serpentine-Bold";
    src: url("../fonts/Serpentine-Bold.otf");
}

@font-face {
    font-family:"Serpentine-Light";
    src: url("../fonts/Serpentine-Light.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Roboto&family=Rubik&family=Work+Sans&display=swap');

*{
    font-family: 'Lato', sans-serif;
}