.footer{
    display:flex;
    border-top:3px solid white;
    color:white;
    background:rgb(30, 33, 44);
    padding:30px;
    margin-top:30px;
    width:100vw;
    overflow-x:hidden;
}

.footer a{
    color:white;
}

.footer-right{
    text-align:center;
    justify-content:center;
    margin:auto;
    display:flex;
}

.footer-right a{
    padding:20px;
}