body{
    background:#111B3B;
    overflow-x:hidden;
}

*{
    margin:0;
    padding:0;
}

.footer{
    position:fixed;
    bottom:0;
}

.body-content{
    color:white;
    padding-top:20vh;
    padding-left:10px;
}

.body-content a{
    color:white;
    text-decoration:underline;
}

input[type=submit]{
    background:rgb(30, 33, 44);
    color:white;
    width:10vw;
    height:32px;
    border:white solid 2px;
    border-radius:25px;
    margin-left:10px;
}

input[type=submit]:hover{
    cursor:pointer;
    border:darkblue solid 2px;
}